.title {
    color:#29918a;
}

.item {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.office_calendar {
    color: #29918a;
    width: 35%;
}

.report_item {
    border-style: groove;
    border-radius: 10px;
}